/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
h1 {
    font-family: monospace;
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

code {
    background-color: grey;
    color: white;
    padding: 0rem .5rem;
}

li {
    font-family: monospace;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 1rem;
}

